.left-pane {
  background: white;
  height: 100vh;
  overflow-y : scroll:
}

.main-pane {
  background: blue;
  height: 100vh;
  
}

.stick-to-bottom {
  position : absolute;
  bottom : 0;
  color : white;
}
