.left-pane {
  background: white;
  height: 800px;
}

.main-pane {
  background: blue;
  height: 800px;
}

.stick-to-bottom {
  position : relative;
  padding-top : 300px;
  margin-bottom: 300px;
  color : white;
}
